body{
background-color: hsl(330, 100%, 98%);

}

h1 , h3{
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
   
}
.main-container{
    max-width: 520px;
   /* max-height: 1440px;*/
    padding: 30px;
    margin: 20px auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 6px;
}


img{
    border-radius: 7px;
    max-width: 100%;
}

.list-wrapper{
    max-width: 100%;
    padding: 2px;
    background-color: hsl(30, 54%, 90%);
    border-radius: 9px;
    line-height: 30px;
}
.list-wrapper h3{
   color: hsl(332, 51%, 32%) ;
   margin: 8px;
}

.postion-style{
  
    line-height: 30px;
}

p{
    
    color: hsl(24, 5%, 18%);
}

.header-color , li::marker {
    color:hsl(14, 45%, 36%);
   

}
ul li ,ol  li{
    padding: 0px 20px;
  
}
li::marker{
    font-weight: bold;
}

table ,td {
    border-bottom: 1px solid hsl(30, 18%, 87%);
    
}
#table{
    border-collapse: collapse;
}

td{
    padding: 10px ;
   padding-right:150px;
}

@media screen and (max-width:375px) {
    .main-container{
        max-width: 357px;
        height: fit-content;
        padding: unset;
        margin: unset;
        box-sizing: content-box;
    }
   
   
}
