body{
background-color: hsl(330, 100%, 98%);

}

h1 , h3{
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
   
}
.main-container{
    max-width: 520px;
   /* max-height: 1440px;*/
    padding: 30px;
    margin: 20px auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 6px;
}


img{
    border-radius: 7px;
    max-width: 100%;
}

.list-wrapper{
    padding: 7px;
    
    background-color: hsl(30, 54%, 90%);
    border-radius: 9px;
    line-height: 30px;
}

.list-wrapper h3{
   color: hsl(332, 51%, 32%) ;
   margin: 12px;
}

.postion-style{
  
    line-height: 20px;
}

p{
    
    color: hsl(24, 5%, 18%);
}

.header-color , li::marker {
    color:hsl(14, 45%, 36%);

}
ul,ol{
    padding: 0px 20px;
}


table{
   width: 375px;
    border-collapse: collapse;
}
tr{
    border-bottom: 1xp solid hsl(30, 18%, 87%);
}
td{
    padding: 10px 40px;
}

